.body{
    height: 100%;
    background-color: #222d32 !important;
    font-family: "Roboto", sans-serif;
}
.global-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0db8de;
    padding-top: 75px;
    padding-bottom: 75px;
}
.card-title{
    font-weight: 900;
    padding-top: 20px;
}
form{
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
}
.login-form{
    width: 380px;
    height: 450px;
    margin: 20px;
    background: #1a2226;
    border-radius: 10px;
}
input[type="email"],
input[type="password"],
input[type="confirm password"]{
    background-color: #1a2226;
    border-radius: 10px;
    margin-bottom: 25px;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="confirm password"]:focus{
    outline: none;
    border: none;
    background-color: #1a2226;
    margin: 0;
}
.btn{
    background: #0db8de;
    font-size: 14px;
    transform: translateY(10px);
    border-radius: 10px; 
} 
.signup{
    text-align: center;
    padding-top: 25px;
} 
.forget{
    float: right;
    font-size: 12px;
}